
body {
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul{
    padding: auto !important;
}

* {
  box-sizing: border-box;
}


.contact-us{
    margin-top: 8rem;
    margin-bottom: 1.2rem;
}



.contact-us .parent{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.parent{

    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius:20px;
  
}

form label{
  color: white;

}


.get-in-touch{
    padding-left: 20px;
    background-position: center;
    height: 600px;

    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    margin-left: 10rem;

  }




/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 25px;
}




/* Style inputs */
input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 25px;
}

 /* <div class="address">
                    <address>
                        Address : TEN 31 , Mahulsai Road , SPG Mission Compound Chaibasa, West Singhbhum , Jharkhand
                        833201
                    </address>

                    <a href="tel:+917781944411">Contact : +917781944411</a>
                    <a href="mailto:m.bluth@example.com">Email:chirania.mohit@ten31.in
                    </a>




                </div> */


/* Style inputs */
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  border-radius: 25px;
}


input[type=submit] {
  margin-top: 10px;
  background-color: #FFF1DE;
  color: grey;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 25px;
}

input[type=submit]:hover {
  background-color: #FF6600;
  color: white;

}

/* Style the container/contact section */
.container2 {
  border-radius: 25px;
  /* background-color: #FFF1DE; */
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;

}


.container2 h2{
  font-weight: 800 !important;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.row{
  padding: 20px !important;
}



.contactUs-container{
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  

}

.contactUs-container .map{
  
  border-radius: 20px;


}

.contactUs-container iframe{
  border-radius: 20px;
}


.address h2{
  margin-bottom: 2rem;
}

.address li{
  margin-top: 1rem;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .get-in-touch{
    height: 300px;
    width: 100%;
    margin: auto;
  }
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .parent{
      flex-direction: column;
      width: 90%;
  }

  .container2{
      width: auto;
  }

  .address{
      margin-bottom: 1rem;
  }

  .contactUs-container{
    display: block;
  }

}

