*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mobile{
        
}


.question{
        width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.question .q-item {
    height: 12rem;
  
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

}

.question .q-item2 {
    height: 12rem;

    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

}

.q-item2 p{
        padding: 20px;
    background: #FFF1DE !important;
}

.q-item p{
        padding: 20px;
    background: #FFF1DE !important;
}

.question p {
  width: 60rem;
    padding-left: 34px;
    line-height: 2rem;
    padding-right: 34px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
    color: rgb(14, 14, 14);
    border-radius: 100px;
    background-color: #FFF1DE !important;

}





.q-item2 .bg-img{
    background-position: center;
    height: 200px;
    background-size: contain;

    background-repeat: no-repeat;
    width: 200px;
}



.q-item .bg-img{
    background-position: center;
    height: 200px;
    background-size: contain;
 
    background-repeat: no-repeat;
    width: 200px;


}


/* toggle aniamtion */

@keyframes mymove {
  from {top: 0px;}
  to {top: 100px;}
}

/* toggle aniamtion */

@keyframes mymove2 {
  from {top: 0px;}
  to {top: 100px;}
}





@media (max-width: 768px){


    .question p{
        padding-left: 4px;
        padding-right: 4px;
    }
    
.question .q-item {
    height: auto !important;
    padding:  0 !important;
  

    
}

.Why-better h2{
    margin: auto !important;
}



li a{
    color: white;
}

/* .mobile a{
    color: white;
} */


.q-item .bg-img{
 height: 50% !important;
 width: 100% !important;
}

.question p{
    border-radius: 0px;
    font-size: 16px;
}


.q-item2 .bg-img{
 height: 50% !important;
 width: 100% !important;
}
.mobile{
    top: 6rem;
       right: 0;
    z-index: 2;
    background: #FFF1DE;
    position: absolute;
    display: block !important;
    width: 100%;
    position: fixed;
    
        animation-name: mymove;
  animation-duration: 0.4s ease;
  
}


.mobile a{
    color: black !important;
}









.Why-better h3{
    margin: 0 !important;
}

.nav-link{
    /* margin-top: 2rem; */
    /* color: white !important; */
    padding: 20px 0px 24px 34px !important;
    color: white !important;
    font-weight: 600;
}




.dropdown-Mobile a{
    /* margin-top: 2rem; */
    /* margin-left: 16px; */
    /* color: white !important; */
    padding: 20px 0px 24px 34px !important;
    font-weight: 600;
         color: rgb(33, 30, 30) !important;


}


.container{
    margin: 0 !important;
}


/* 
li .dropdown-toggle{
    color: white !important;
} */


.question {
    width: auto !important;

}

.question .q-item{
    padding: auto !important;

}

.question .q-item2{
    padding: 0px !important;
    height: auto !important;
}


.bg-img{

        position: absolute;
    background-image: url(images2/q-1.png);
    top: 2rem;
    opacity: 0.1;

}

.q-item{
    position: relative;
}

.q-item2{
    position: relative;
}


.dropdown-menu .show{
    width: 100% !important;
    top: 70px !important;
   transform: translate3d(0px, 200px, 0px) !important;


}




.dropdown-menu .dropdown-item:hover{

    color: white;


}




}