.AccBlock{
    margin-top: 6rem;

    height: 80vh;
        margin-bottom: 4rem;
}
/* 
footer{
    margin-top: 18rem !important;
} */


.banner{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 6rem;

}

.product-banner{
    /* padding: 20px 0px 20px; */
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(180, 180, 180);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
    background-size: cover;
}


.logo img{
    width: 100px;
    margin: auto;
    display: block;
    text-align: center;

}
.submit{

    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    background-color: #FF6600;
}

.submit:hover{
    text-decoration: none;
    color: white;
}



.product-banner h2{
    /* padding-top: 1rem; */
    font-size: 2.4rem;
    /* color: white; */
    letter-spacing: 2px;

    font-weight: 600;
    line-height: 4rem;
    text-align: center;
}

.product-div{
    padding-top: 20px;

    /* height: 400px; */
    
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;

}


.parent-div{
  /* display: flex; */
  width: 100%;
  margin: auto;
  justify-content: space-between;
  text-align: center;

}

.parent-div p{
/* padding-right: 30%; */
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;

    /* text-align: justify; */
      /* color: white; */
}

.parent-div .productBanner-img{
    /* height: 300px; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
}




.product-div .item{
    width: 200px;
    /* border: 1px solid black; */
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.item:hover{
    transform: scale(1.1);
}

.item img{

    width: 100%;
}

.column h2{
    width: 50%;
    margin: auto;
}


@media (max-width: 768px) {
    .product-div{
        /* flex-wrap: wrap; */
        height: 100% !important;
        /* flex-direction: column !important; */
        display: block !important;
    }


    .left a{
        text-align: center;
            margin: auto !important;
            width: 40px !important;
    }


    .parent-div{
        display: block !important;
        width: 90%;
        
    }

    .AccBlock{
        height: auto;
        margin-top: 7rem;
    }

    .product-banner{
        flex-direction: column;
    }

    .product-banner h2{
        padding: 0rem !important;
        font-size: 18px !important;
        
    }

    .parent-div p{
        text-align: justify;
        width: 100%;
        padding-right: 0px !important;
    }
.parent-div .productBanner-img{
    margin: auto;
    /* height: 300px; */
    width: 100px !important;
}

.product-div .item{
    width: auto;
}

}